In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings 
import os
warnings.filterwarnings('ignore')

## UPLOADING THE DATA

In [2]:
df = pd.read_csv('testtt.csv')

In [3]:
df.drop(columns = 'cc_cons',inplace = True)

In [4]:
final_df = df['ID']

## Handling Null Values

In [5]:
df.isnull().sum()

ID                              0
cc_cons_apr                     0
dc_cons_apr                     0
cc_cons_may                     0
dc_cons_may                     0
cc_cons_jun                     0
dc_cons_jun                     0
cc_count_apr                    0
cc_count_may                    0
cc_count_jun                    0
dc_count_apr                    0
dc_count_may                    0
dc_count_jun                    0
card_lim                        0
personal_loan_active            0
vehicle_loan_active             0
personal_loan_closed            0
vehicle_loan_closed             0
investment_1                    0
investment_2                    0
investment_3                    0
investment_4                    0
debit_amount_apr                0
credit_amount_apr               0
debit_count_apr                 0
credit_count_apr                0
max_credit_amount_apr           0
debit_amount_may                0
credit_amount_may               0
credit_count_may                0
debit_count_may                 0
max_credit_amount_may           0
debit_amount_jun                0
credit_amount_jun               0
credit_count_jun                0
debit_count_jun                 0
max_credit_amount_jun           0
loan_enq                        0
emi_active                      0
account_type                    0
gender                          0
age                             0
Income                          0
Emp_Tenure_Years                0
Tenure_with_Bank                0
region_code                     0
NetBanking_Flag                 0
Avg_days_between_transaction    0
dtype: int64

### There are No Null Values

## Converting Categorical values into Numerical

In [6]:
df = df[(df['gender']!='0')&(df['Income']!='0')]

In [7]:
cat_col = ['loan_enq','account_type', 'gender', 'Income']

In [8]:
x_encoded = pd.get_dummies(df,columns = cat_col, drop_first=True)

## STANDARDIZATION

In [9]:
import pickle
with open('./standardscaler.pkl','rb') as file:
    ss = pickle.load(file)

In [10]:
x_ft = ss.fit_transform(x_encoded)
x_ft = pd.DataFrame(x_ft)

## PREDICTING FINAL DATA

In [11]:
with open('./BestModel_lgbm.pkl','rb') as file:
    lgbm = pickle.load(file)

In [12]:
pred = lgbm.predict(x_ft)
pred = np.exp(pred)

In [13]:
pred_df = pd.DataFrame(pred,columns = ['cc_cons'])
submit_df = pd.concat([final_df,pred_df],axis = 1)

In [14]:
submit_df.to_csv('Final_Submission.csv',index = False)